EXPO_PUBLIC_API_BASE_URL=http://127.0.0.1:8000/api
EXPO_PUBLIC_MEDIA_BASE_URL=http://127.0.0.1:8000

# Emulador Android:
# EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:8000/api
# EXPO_PUBLIC_MEDIA_BASE_URL=http://10.0.2.2:8000

# Celular fisico (IP da maquina na Wi-Fi):
# EXPO_PUBLIC_API_BASE_URL=http://192.168.x.x:8000/api
# EXPO_PUBLIC_MEDIA_BASE_URL=http://192.168.x.x:8000
