DB_DATABASE=shingeki_api
DB_PASSWORD=secret
DB_PORT=3306

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_VHOST=/
RABBITMQ_ATTACKS_DISPATCH_QUEUE=attacks.dispatch
RABBITMQ_ATTACKS_RESULTS_QUEUE=attacks.results

VULNERABLE_TARGET_PORT=8090
VULNERABLE_TARGET_SIGNATURE_TOKEN=bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
