.env
.env.backup
.env.production

shingeki-api/vendor/
shingeki-api/node_modules/
shingeki-api/.phpunit.cache/
shingeki-api/.phpunit.result.cache
shingeki-api/public/build
shingeki-api/public/hot
shingeki-api/storage/*.key
shingeki-api/storage/pail
shingeki-api/storage/logs/*.log

shingeki-dast-worker/worker
shingeki-dast-worker/worker.exe
shingeki-dast-worker/*.exe

.DS_Store
Thumbs.db

# MkDocs build output
site/
