.env
.env.backup
.env.production

/node_modules/
site/
.venv/

apps/api/vendor/
apps/api/node_modules/
apps/api/.phpunit.cache/
apps/api/.phpunit.result.cache
apps/api/public/build
apps/api/public/hot
apps/api/storage/*.key
apps/api/storage/pail
apps/api/storage/logs/*.log
apps/api/supervisord.pid

apps/client/node_modules/
apps/client/.next/

workers/dast/worker
workers/dast/worker.exe
workers/dast/*.exe

.DS_Store
Thumbs.db
