RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_ATTACKS_DISPATCH_QUEUE=attacks.sast.dispatch
RABBITMQ_ATTACKS_RESULTS_QUEUE=attacks.results
RABBITMQ_PREFETCH=1

WORKER_JOB_TIMEOUT=30m

SEMGREP_BINARY=semgrep
SAST_CLONE_TIMEOUT=10m
SAST_SCAN_TIMEOUT=20m
SAST_LANGUAGES=php,typescript,javascript
