RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_ATTACKS_DISPATCH_QUEUE=attacks.dispatch
RABBITMQ_ATTACKS_RESULTS_QUEUE=attacks.results
RABBITMQ_PREFETCH=1

WORKER_JOB_TIMEOUT=30m
WORKER_ATTACK_CONCURRENCY=5

DISCOVERY_MAX_DEPTH=3
DISCOVERY_MAX_PAGES=50
DISCOVERY_PAGE_TIMEOUT=30s
DISCOVERY_BROWSER_LAUNCH_TIMEOUT=90s
DISCOVERY_ROD_ENABLED=true
DISCOVERY_ROD_HEADLESS=true
DISCOVERY_ROD_NO_SANDBOX=true
DISCOVERY_MIN_VECTORS_FOR_ROD=2

ATTACK_REQUEST_TIMEOUT=15s
ATTACK_RATE_LIMIT_RPS=10
ATTACK_MAX_BODY_BYTES=1048576
ATTACK_USER_AGENT=Shingeki-DAST-Worker/1.0

EVIDENCE_BODY_DIFF_THRESHOLD=100
EVIDENCE_TIMING_TOLERANCE=2s

CHROME_PATH=/usr/bin/chromium
TARGET_LOCALHOST_REWRITE=host.docker.internal
